/* ---------- DARK MODE ---------- */

body, h1, h2, h3, h4, h5, h6, button, input, textarea {
    font-family: 'Montserrat', sans-serif !important;
}

body.dark-mode{
    background-color:#0F172A;
    color:#E2E8F0;
}

body.dark-mode .navbar{
    background-color:#111827 !important;
    border-bottom:1px solid #1F2937;
}

body.dark-mode .glass-card{
    background:#1E293B;
    border:1px solid #334155;
    color:#E2E8F0;
}

body.dark-mode .footer{
    background:#1E293B;
    border-top:1px solid #334155;
    color:#CBD5E1;
}

body.dark-mode .form-control{
    background:#334155;
    border:1px solid #475569;
    color:white;
}

body.dark-mode .form-control:focus{
    background:#334155;
    color:white;
    border-color:#818CF8;
}

body.dark-mode .text-white{
    color:#F8FAFC !important;
}

body.dark-mode .btn-outline-light{
    border-color:#818CF8;
    color:#818CF8;
}

body.dark-mode .btn-outline-light:hover{
    background:#818CF8;
    color:white;
}

body.dark-mode .nav-link{
    color:#E0E7FF !important;
}

body.dark-mode .nav-link:hover{
    color:#34D399 !important;
}

body.dark-mode .badge{
    background-color:#312E81 !important;
    color:#E0E7FF !important;
    border-color:#4338CA !important;
}

body.dark-mode .alert{
    background:#1E293B;
    color:#E2E8F0;
    border:1px solid #334155;
}

body.dark-mode .text-success{
    color:#34D399 !important;
}

body.dark-mode .text-info{
    color:#818CF8 !important;
}

body.dark-mode .text-warning{
    color:#FBBF24 !important;
}

body.dark-mode .text-danger{
    color:#F87171 !important;
}